* { box-sizing: border-box; }
 
 body {
 	font-family: arial;
 }

 h1 {
 	text-align: center;
 	
 }
 .title {
 	position: absolute;
 	top: 0;
 	right: 0;
 	border: 1px solid black;
 	
 }

 #p1, #p2, #p3 {
 	
 	padding: 12px;

 }

 #p1 .content, #p2 .content, #p3 .content {
 	
 	background-color: grey; 
 	position: relative;
 	border:1px solid black;
 	padding-top: 12px;
 	padding-left: 8px;
 	padding-right: 8px;



 }
 
#p1 .title {
	background-color: orange;

}

#p2 .title {
	background-color: red;
}

#p3 .title {
	background-color: yellow;
}

/* desktop  */
@media only screen and (min-width: 992px) {
	#p1, #p2, #p3 {
		display: inline-block;
		width: 33%;
	} 
}

/*tablet*/
@media only screen and (min-width:768px) and (max-width: 991px) {
	#p1, #p2, #p3 {
		display: inline-block;
	} 

	#p1, #p2 {
		width: 49.7%;
	}

	#p3 {
		width: 100%;
	}

}

/*mobile*/
@media only screen and (max-width: 767px) {
	#p1, #p2, #p3 {
		display: inline-block;
		width: 100%;
	} 

}